html {
	padding:1em;
	font-size:18px;
}

body {
	margin:0 auto;
	max-width:1000px;
	padding-bottom:4em;
}

.no-margin-bottom {
	margin-bottom:0;
}

.integers {
	width:30em;
	max-width:100%;
}

.flex {
	display:flex;
	flex-wrap:wrap;
}

.flex * {
	margin:0.5em;
}

label {
	display:block;
	opacity:0.8;
}

input {
	padding:1em;
	margin-bottom:1em;
}

input[readonly] {
	background:#ddd;
	color:#444;
}

button {
	display:block;
	background:blue;
	padding:1em;
	color:white;
	border-radius:1em;
	border:none;
	margin:0 auto;
	cursor:pointer;
}

#log div {
	border:1px solid black;
	padding:0.5em;
	display:flex;
	justify-content:space-between;
}

.error {
	color:red;
}
